.col{
    transform: scale(1);
}
.Gartic{
    background:rgba(128, 255, 212, 0.5)
}
.card{
    background:rgba(255, 255, 255, 0.1);
    transition: all;
    transition-duration: 200ms;
    
    transform: scale(1);
    
}
.card:hover{
    transition: all;
    transition-duration: 200ms;
    transform: scale(1.03);
    box-shadow: 7px 4px 22px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 4px 22px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 4px 22px 0px rgba(0,0,0,0.75);
}
.btn-right{
    position:relative;
    margin-left: 85%;
}
